@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans+Condensed:wght@300&family=Redressed&display=swap');

body{
    background-image: url(./assets/Background_image.png);
    background-size: cover;
}

#flex{
    display: flex;
    justify-content: space-around;
}

h1{
    color: azure;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: azure;
    font-size: 25px;
    margin-bottom: 0%;
}

a{
    color: aqua;
    font-weight: bold;
}